strict: Reject non-empty JSON body in challenge POST

[RFC 8555 Section 7.5.1](https://tools.ietf.org/html/rfc8555#section-7.5.1) says unambiguously that challenges are initiated by POSTing `{}` in the JWS body:

>  The client indicates to the server that it is ready for the challenge
>  validation by sending an empty JSON body ("{}") carried in a POST
>  request to the challenge URL (not the authorization URL).

Presently Pebble rejects challenge POST's that contain the legacy `keyAuthorization` field by default:
https://github.com/letsencrypt/pebble/blob/afbe2db32cf03eb8c240a696e21fc52f7b0be6ab/wfe/wfe.go#L1855-L1876

Pebble in `-strict` should go one step further and reject anything other than the trivial empty JSON payload `{}`. This will help push ACME clients that are POSTing non-standard JSON bodies (e.g. [`Certbot`](https://community.letsencrypt.org/t/acme-spec-asks-for-empty-json-blob-in-challenge-validation-request/96252)) to move towards spec compliance.