Reject the CSR if the same key is used for the account (RFC 8555 §11.1)

I get a signed certificate even when using the same key in account creation and the CSR.

From RFC 8555 §11.1:
> ACME clients and servers MUST verify that a CSR submitted in a
> finalize request does not contain a public key for any known account
> key pair.  In particular, when a server receives a finalize request,
> it MUST verify that the public key in a CSR is not the same as the
> public key of the account key pair used to authenticate that request.


Thanks for the report! I agree we should do this. If you'd like to submit a PR that would be great; otherwise we will do it eventually.