POST-as-GET for directory and newNonce endpoints

While doing some testing for the upcoming POST-as-GET changes, I noticed that [RFC8555 Section 6.3](https://tools.ietf.org/html/rfc8555#section-6.3) states that,

> The server MUST allow GET requests for the directory and newNonce resources (see Section 7.1), in addition to POST-as-GET requests for these resources.

From what I can tell, this isn't supported in either pebble or boulder: [repro](https://github.com/eggsampler/acme/blob/fetch/acme_test.go#L54) / [test](https://travis-ci.com/eggsampler/acme/jobs/261478210#L242).

Is this something you think should be supported? I doubt anyone has run into this, but it seems like it should be supported per the rfc.

It's a relatively easy fix in pebble, [this](https://github.com/eggsampler/pebble/commit/ce1b72228059e8250105a7708556bdf68a86f654) seems to do the trick (but may need some adjusting of the linter).

Hey @eggsampler, thanks for opening an issue.

> Is this something you think should be supported? I doubt anyone has run into this, but it seems like it should be supported per the rfc.

Yup, I think supporting it makes sense. I don't have any philosophical opposition. I think we probably just overlooked that sentence in the RFC when implementing POST-as-GET support.

Thanks for catching that.

> It's a relatively easy fix in pebble, this seems to do the trick (but may need some adjusting of the linter).

LGTM, I went ahead and stole your fix to make a PR: https://github.com/letsencrypt/pebble/pull/292 Thanks for making that easy :-)

I'll look to get that merged next week when my American counterparts are back from holiday. I think this fix merits a new release tag so I'll make a note to do that next week too.

Thanks again!

> this isn't supported in either pebble or boulder

Filed https://github.com/letsencrypt/boulder/issues/4584 for fixing the Boulder side. Probably won't get a chance to take a whack at that until later next week.