Implement External Account Binding (RFC 8555 §7.3.4)

While Let's Encrypt has no plans to implement the external account binding (EAB) functionality defined in [RFC 8555 §7.3.4](https://tools.ietf.org/html/rfc8555#section-7.3.4) in Boulder it would be valuable for the ACME ecosystem if there was an easy way for client developers to test this protocol feature.

It should be possible to configure Pebble such that its directory contains the `externalAccountRequired` meta key. In this configuration all `newAccount` requests must be rejected unless they have the `externalAccountBinding` JWS request field. Pebble will also need to implement the `externalAccountRequired` error type to return when rejecting requests for this reason.

In the Pebble config file it should be possible to configure multiple base64url-encoded MAC keys alongside an identifying name for use for verifying the `externalAccountBinding` requests. We should update the management interface to allow clients to access the configured MAC keys in a Pebble-specific testing manner to compose the expected `externalAccountBinding` signatures, simulating the out-of-band communication of the shared secret.

For now I think its sufficient to verify the `externalAccountBinding` value of `newAccount` requests according to 7.3.4 and somehow display the MAC key name that was used in the verification, but not actually link the account to any external state or somehow modify the authorization process.

cc @JoshVanL

Hi @cpu !

I'm going to be picking this up if that's good for you.

I'm going to be going ahead with creating the pebble specific config with a string map of ids and keys as the approach.

/assign

:wave: Hey @JoshVanL 

> I'm going to be picking this up if that's good for you.

That would be great, thank you! I'll reserve some time for reviews.

> /assign

:laughing: I'm afraid we're short on Github :robot:'s here but I've removed the help wanted label and assigned the issue to you. Let me know if something comes up and I can unassign and revert the label change.

Great, cheers!

Sorry about that, muscle memory :man_facepalming: 

Closing since this has been implemented :tada: