Hi @iftahbe, thank you for the very detailed bug report! I appreciate it :-)

> During the challenge authorization stage, pebble completes the challenge and the authorization status is changed to "valid" (according to the Pebble console output) but in the HTTP response we still get the "pending" status.

Based on the Fiddler trace & Pebble output it looks like you are:

1. Creating a new order
2. GETing the order
3. GETing the order's authorization
4. POSTing the authorization's DNS-01 challenge
5. POSTing the authorization's DNS-01 challenge
6. POSTing the authorization's DNS-01 challenge
....
7. Eventually getting an error about updating an already valid challenge.

It sounds like you wanted to be _polling_ the authorization to see when it has changed from "pending" to "valid". This should be done by sending a GET request to the authorization URL. Instead, it seems like you are POSTing the challenge over and over - each time it returns `"status":"pending"` because it is still pending from the initial POSTs. After the first validation completes the status changes to "valid" and then any additional POSTs to the challenge return an error "Cannot update challenge with status valid, only status pending".

E.g. I'd expect the flow for a single identifier order to be more like:

1. Creating a new order
2. GETing the new order
3. GETing the order's authorization
4. POSTing the authorization's DNS-01 challenge
5. GETing the order's authorization (Repeat until status != "pending")
6. POSTing the order's finalize URL if the order's authorization is now "valid"
7. GETing the order (Repeat until certificate URL is present)
8. GETing the certificate URL

I don't think there is a bug here. The error you are getting from Pebble is the one I would expect to be delivered to a client that behaved like yours did in the logs :-)

Does that make sense?



FWIW: Starting Pebble with `PEBBLE_VA_NOSLEEP=1` should make this even more apparent: The first challenge POST will result in a near-immediate change in the authorization from "pending" -> "valid" and you will see the "Cannot update challenge with status valid" error much sooner as a result.

@cpu Thanks a lot for the explanation. 
It makes sense yes, I tried to get the status from the authorization and not from the order.
I will make the necessary changes :)

@iftahbe Great :-)

> It makes sense yes, I tried to get the status from the challenge itself and not from the order.

Just to clarify quickly: you _can_ get the individual authorization's statuses as well but you should do so with a GET request and not a POST. 


I just had a regression that triggered this.

Adding the following info, now that this call is behind a Post-as-Get for several years and this was my top search result....

Under post-as-get : Submitting an empty payload structure will trigger the challenge; Submitting "None" will simply poll.

in Python:

    payload = {}   # will trigger the challenge
    payload = None   # will simply poll


In general one should not poll challenge objects themselves. The challenge URL exists solely to be POSTed to, to initiate challenge validation. Once the validation has been initiated, the client should poll the _authorization_, not the challenge.

This is detailed in [RFC 8555, Section 7.5.1](https://datatracker.ietf.org/doc/html/rfc8555#section-7.5.1), which says (emphasis added):

> Usually, the validation process will take some time, so the client
   will need to **poll the authorization resource** to see when it is
   finalized.

Thanks. I caught that bug in my code shortly after posting this.

My flow was doing the correct thing:
* Trigger Challenge
* Poll Authorization

I was dealing with a race condition between 2 active orders that shared a challenge.  Triggering a First would cause a Second to error out.  I had to temporarily leverage polling to pinpoint the fix.