"acme.client:Ignoring wrong Content-Type ('application/json; charset=utf-8') for JSON decodable response"

I'm running certbot 0.32.0 against pebble 2.2.2 on localhost. `/var/log/letsencrypt/letsencrypt.log` contains the following message:
```
2019-08-19 17:56:38,338:DEBUG:acme.client:Ignoring wrong Content-Type ('application/json; charset=utf-8') for JSON decodable response
```
I would think that's probably certbot complaining about pebble, which is why I file this here (not sure that is correct, however).

This appears to be part of the register flow as it follows `https://0.0.0.0:14000 "POST /sign-me-up HTTP/1.1"`. There similar messages further below for other interactions.


Hi @jernst, thanks for opening an issue.

I believe this is an error in Certbot. It looks like [this is the location](https://github.com/certbot/certbot/blob/d39f63feca9827aa9267d14869dcb72b85e40c6f/acme/acme/client.py#L1071-L1074) that produced that log line. Based on my (admittedly non-expert) reading of the python code it is comparing the full raw content type value to the string `cls.JSON_CONTENT_TYPE` which is defined [here]( https://github.com/certbot/certbot/blob/d39f63feca9827aa9267d14869dcb72b85e40c6f/acme/acme/client.py#L954 ) as the string: `application/json`

Pebble is sending `application/json; charset=utf-8'` which fails the string comparison because of the inclusion of the charset parameter.

The HTTP `Content-Type` header value is defined in RFC 7231 as a media type and the specification for that in [RFC 7231 Section 3.1.1.1](https://tools.ietf.org/html/rfc7231#section-3.1.1.1) allows sending a charset in the value as Pebble does.

I believe Certbot's `acme` module should be parsing the media type and enforcing the string equality against the type and subtype only, ignoring the charset parameter.

I'm going to close this issue since I don't believe there are any changes to be made to Pebble for this case.

Thanks!


File it over there then?

@jernst Be my guest.